.game-list {
    display: flex;
    flex-wrap: wrap;
    & > * {
        width: 25%;
        display: flex;
        justify-content: center;
        @media (max-width: 1550px) {
            width: 33%;
        }
        @media (max-width: 1180px) {
            width: 50%;
        }
        @media (max-width: 760px) {
            width: 100%;
        }
    }
}
