<section class="game-details">
    <div class="back" (click)="onBack()">
        ‹
    </div>
    <section class="game-details-body">
        <img class="game-details-body-img" [src]="game.thumbnail" alt="">
        <section class="game-details-body-info">
            <h2 class="game-details-body-info-title">
                {{game.title}}
            </h2>
            <section class="game-details-body-info-details">
                <div>

                    <h4>Release date:</h4>
                    <p>{{game.release_date}}</p>
                </div>
                <div>
                    <h4>publisher:</h4>
                    <p>{{game.publisher}}</p>
                </div>
                <div>
                    <h4>developer:</h4>
                    <p>{{game.developer}}</p>
                </div>
                <div>
                    <h4>genre:</h4>
                    <p>{{game.genre}}</p>
                </div>
                <div>
                    <h4>platform:</h4>
                    <p>{{game.platform}}</p>
                </div>
            </section>
            <a [href]="game.game_url" target="_blank" class="game-details-body-info-link">
                <button class="btn">
                    Play now
                </button>
            </a>


        </section>
    </section>
    <section class="game-details-desc">
        <h2>Description:</h2>
        <p>{{game.short_description}}</p>
    </section>
</section>