// GAME

@font-face {
    font-family: "Games";
    src: url("../../assets/fonts/ClassyBruneItalicFree.ttf");
}

@font-face {
    font-family: "Game";
    src: url("../../assets/fonts/ClassyBruneRegFree.ttf");
}
