// COCKTAIL

@font-face {
    font-family: "Cocktails";
    src: url("../../assets/fonts/ClassyBruneItalicFree.ttf");
}

@font-face {
    font-family: "Cocktail";
    src: url("../../assets/fonts/ClassyBruneRegFree.ttf");
}
